:root {
  --primary-color: ;
  --secondary-color: --titles-font;
}

* {
  background-color: rgb(255, 255, 255);
}
h1 {
  color: black;
}

p {
  color: black;
}
.menu {
  display: inline-block;
  width: 200px;
  padding-left: 30px;
}
.menu h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  padding-right: 50px;
}
.menu h1 {
  font-size: x-large;
}
.intro {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 50px;
  width: 500px;
  height: 500px;
  padding-left: 80px;
  padding-top: 30px;
}
.image {
  display: inline-block;
  width: 200px;
  vertical-align: middle;
}
.image img {
  width: 400px;
  display: inline;
  border-radius: 200px;
}
.contactButton {
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px;
  letter-spacing: 2px;
  border-style: none;
}
.scrollDown {
  font-family: "Courier New", Courier, monospace;
  color: gray;
  padding-left: 320px;
}
.SERVICES {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 220px;
}
.fotografia {
  text-align: center;
  padding-left: 100px;
  padding-top: 100px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  width: 350px;
}
.fotografia h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.fotografia img {
  width: 200px;
  padding-top: 50px;
}

.branding {
  text-align: center;
  padding-left: 100px;
  padding-top: 100px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  width: 350px;
}
.branding h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.branding img {
  width: 200px;
  padding-top: 50px;
}

.rebranding {
  text-align: center;
  padding-left: 100px;
  padding-top: 100px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  width: 300px;
}
.rebranding h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.rebranding img {
  width: 130px;
  padding-top: 100px;
}
.boton1 {
  color: white;
  display: inline-block;
  text-align: center;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 25px;
  letter-spacing: 2px;
  margin-left: 200px;
  margin-top: 200px;
}
.boton2 {
  color: white;
  display: inline-block;
  text-align: center;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 25px;
  letter-spacing: 2px;
  border-style: none;
}
.title {
  text-align: center;
  vertical-align: top;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-top: 0px;
}
.primercolumna {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}
.primercolumna img {
  width: 250px;
}
.segundacolumna {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 70px;
}
.segundacolumna img {
  width: 250px;
}
.tercercolumna {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 70px;
}
.tercercolumna img {
  width: 250px;
}
.bodyInfo {
  display: inline-block;
  align-items: center;
  width: 1000px;
  padding-left: 150px;
  padding-top: 50px;
}
.IMAGENGOODBOY img {
  width: 610px;
  height: 610px;
}
.IMAGENESDERECHA img {
  width: 200px;
  vertical-align: auto;
}
.titleGB {
  padding-left: 400px;
  padding-bottom: 50px;
  padding-top: 50px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}
.BODYINFOGB {
  padding-left: 180px;
}
.GBTODO {
  display: inline-block;
}

.menuGB {
  display: inline-block;
  width: 200px;
  padding-left: 30px;
  vertical-align: top;
  padding-top: 50px;
}
.menuGB h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  padding-right: 50px;
}
.menuGB h1 {
  font-size: x-large;
}

.imagencontact {
  display: inline-block;
}

.titleC {
  padding-left: 600px;

  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}
